html,body{;
min-height:100%;
margin:0;
background-image:linear-gradient(to top,#006,#fff,#000,#000);
background-repeat:no-repeat;
}

.mainDiv{
min-height:100%;
margin:15px;
}
a{
	text-decoration:none;
	color:#fe24ff;
	font-family:sans-serif;
}
*{color:white;
box-sizing:border-box;
font-family:sans-serif;}
.header{ 
	background-image:linear-gradient(to left, #FE24FF, #006);
	margin:0;
	height:15%;
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}
.header p{
font-size:2em;
font-weight:1000;
color:#fff;
margin-top:7%;
font-family:Helvetica,Courier;
}
.mainDiv{
margin-top:25%;
}
.descr{
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border:2px solid #006;
background-image:linear-gradient(to right, #006,#fe24ff);
font-family:monospace;
padding:0 5px 0 5px;
}
.marginTop-img{
margin-top:3%;
}

@media (min-width:738px),(orientation:landscape){
.header p{
margin-top:1%;
}

}






#trekkingStar{
background:linear-gradient(#fe24ff,#00f);
position:fixed;
top:15%;
right:4%;
width:50px;
height:50px;

-webkit-transform: translateX(-20%);
-ms-transform: translateX(-20%);
 transform: translateX(-20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#trekkingStar{
		-webkit-animation: rotation 1s infinite linear;
		animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}
@keyframes rotation {
                from {
                                transform: rotate(0deg);
                }
                to {transform: rotate(360deg);     } }

#bettertoday_faq_faqheading{
color:#5218a2;
font-weight:bold;
font-size:3em;
margin:15px;
font-family:sans-serif;
}
#bettertoday_faq{
	background-image:linear-gradient(to top,#333,#000,#310661);
	/*padding-bottom:25px;
	padding-top:25px;
*/
padding:40px;
border-radius:30px;	
}
#bettertoday_faq .bettertoday_faq_ques{
	display:block;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
	font-size:2em;
	font-family:sans-serif;
	font-weight:bold;
	color:#00897b;
}
#bettertoday_faq .bettertoday_faq_ans{
	display:block;
	margin-left:45px;
	margin-right:45px;
	margin-bottom:30px;
	font-size:1.4em;
	font-family:monospace;
}
#bettertoday_faq span{
	font-family:monospace;
	font-size:1.2em;
}
#bettertoday_faq_alarmcriteria h3{
	font-size:1.3em;
	color:#5218a2;
}
#bettertoday_download_playstore{
	margin: 20px;
	display:block;
	font-family:sans-serif;
	font-size:1.5em;
}
.bettertoday_img{
	margin:66px;
}




