body{
height:100%;
margin:0;
background-image:linear-gradient(to top,#006,#fff,#000,#000);
}
.mainDiv{
height:100%;
margin:15px;
}
a{
	text-decoration:none;
	color:#fe24ff;
	font-family:sans-serif;
}
*{color:white;
box-sizing:border-box;}
.header{ 
	background-image:linear-gradient(to left, #FE24FF, #006);
	margin:0;
	height:15%;
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}
.header p{
font-size:2em;
font-weight:1000;
color:#fff;
margin-top:7%;
font-family:Helvetica,Courier;
}
.mainDiv{
margin-top:25%;
}
.descr{
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border:2px solid #006;
background-image:linear-gradient(to right, #006,#fe24ff);
font-family:monospace;
padding:0 5px 0 5px;
}
.marginTop-img{
margin-top:3%;
}
#trekkingStar{
background:linear-gradient(#fe24ff,#00f);
position:fixed;
top:15%;
right:4%;
width:50px;
height:50px;

-webkit-transform: translateX(-20%);
-ms-transform: translateX(-20%);
 transform: translateX(-20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#trekkingStar{
		-webkit-animation: rotation 1s infinite linear;
		animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}
@keyframes rotation {
                from {
                                transform: rotate(0deg);
                }
                to {                                                                                    transform: rotate(360deg);                      }                                                       }
