html, body{margin:0;}
*{
box-sizing:border-box;
font-family:verdana, sans-serif;}

.main_div{margin:15px;}
.ddose{
color:#558855;
text-decoration:none;
font-weight:bold;
font-size:1.5rem;
}
.normal_link{
color:#558855;
text-decoration:none;
font-weight:bold;	
}
.banner{
width:100%;
max-height:100vh;
}

.intro{

}
.intro_benefits_heading{
margin-top:15px;
}
.heading_label{
display:block;
font-weight:bold;
color:#447744;
margin-bottom:8px;
font-size:1.2rem;
}
.heading_label_2{
display:block;
margin-top:20px;
margin-bottom:10px;
font-weight:bold;
color:#447744;
}
.info_section{
margin-top:50px;
}
.download_section{
text-align:center;
margin-top:30px;
}
.download_button{
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
font-size:1.1rem;
border:none;
border-radius:25px;
background-color:#669966;
color:white;
}
.center-big-heading{
text-align:center;
font-size:1.5rem;
color:447744;
}